[submodule "apache-example"]
	path = apache-example
	url = https://github.com/wedeploy-examples/apache-example
[submodule "auth-android-example"]
	path = auth-android-example
	url = https://github.com/wedeploy-examples/auth-android-example
[submodule "auth-example"]
	path = auth-example
	url = https://github.com/wedeploy-examples/auth-example
[submodule "auth-ios-example"]
	path = auth-ios-example
	url = https://github.com/wedeploy-examples/auth-ios-example
[submodule "auth-react-native-example"]
	path = auth-react-native-example
	url = https://github.com/wedeploy-examples/auth-react-native-example
[submodule "auth-web-example"]
	path = auth-web-example
	url = https://github.com/wedeploy-examples/auth-web-example
[submodule "data-android-example"]
	path = data-android-example
	url = https://github.com/wedeploy-examples/data-android-example
[submodule "data-example"]
	path = data-example
	url = https://github.com/wedeploy-examples/data-example
[submodule "data-ios-example"]
	path = data-ios-example
	url = https://github.com/wedeploy-examples/data-ios-example
[submodule "data-react-native-example"]
	path = data-react-native-example
	url = https://github.com/wedeploy-examples/data-react-native-example
[submodule "data-web-example"]
	path = data-web-example
	url = https://github.com/wedeploy-examples/data-web-example
[submodule "elasticsearch-example"]
	path = elasticsearch-example
	url = https://github.com/wedeploy-examples/elasticsearch-example
[submodule "elixir-example"]
	path = elixir-example
	url = https://github.com/wedeploy-examples/elixir-example
[submodule "email-android-example"]
	path = email-android-example
	url = https://github.com/wedeploy-examples/email-android-example
[submodule "email-example"]
	path = email-example
	url = https://github.com/wedeploy-examples/email-example
[submodule "email-ios-example"]
	path = email-ios-example
	url = https://github.com/wedeploy-examples/email-ios-example
[submodule "email-web-example"]
	path = email-web-example
	url = https://github.com/wedeploy-examples/email-web-example
[submodule "file-upload-example"]
	path = file-upload-example
	url = https://github.com/wedeploy-examples/file-upload-example
[submodule "geolocation-search-example"]
	path = geolocation-search-example
	url = https://github.com/wedeploy-examples/geolocation-search-example
[submodule "ghost-example"]
	path = ghost-example
	url = https://github.com/wedeploy-examples/ghost-example
[submodule "hosting-example"]
	path = hosting-example
	url = https://github.com/wedeploy-examples/hosting-example
[submodule "java-example"]
	path = java-example
	url = https://github.com/wedeploy-examples/java-example
[submodule "java-maven-example"]
	path = java-maven-example
	url = https://github.com/wedeploy-examples/java-maven-example
[submodule "jekyll-example"]
	path = jekyll-example
	url = https://github.com/wedeploy-examples/jekyll-example
[submodule "jenkins-example"]
	path = jenkins-example
	url = https://github.com/wedeploy-examples/jenkins-example
[submodule "liferay-dxp-example"]
	path = liferay-dxp-example
	url = https://github.com/wedeploy-examples/liferay-dxp-example
[submodule "liferay-portal-example"]
	path = liferay-portal-example
	url = https://github.com/wedeploy-examples/liferay-portal-example
[submodule "mariadb-example"]
	path = mariadb-example
	url = https://github.com/wedeploy-examples/mariadb-example
[submodule "micro-example"]
	path = micro-example
	url = https://github.com/wedeploy-examples/micro-example
[submodule "mongodb-example"]
	path = mongodb-example
	url = https://github.com/wedeploy-examples/mongodb-example
[submodule "mysql-example"]
	path = mysql-example
	url = https://github.com/wedeploy-examples/mysql-example
[submodule "newsletter-example"]
	path = newsletter-example
	url = https://github.com/wedeploy-examples/newsletter-example
[submodule "nextjs-example"]
	path = nextjs-example
	url = https://github.com/wedeploy-examples/nextjs-example
[submodule "nodejs-example"]
	path = nodejs-example
	url = https://github.com/wedeploy-examples/nodejs-example
[submodule "nuxtjs-example"]
	path = nuxtjs-example
	url = https://github.com/wedeploy-examples/nuxtjs-example
[submodule "owncloud-example"]
	path = owncloud-example
	url = https://github.com/wedeploy-examples/owncloud-example
[submodule "piwik-example"]
	path = piwik-example
	url = https://github.com/wedeploy-examples/piwik-example
[submodule "postgres-example"]
	path = postgres-example
	url = https://github.com/wedeploy-examples/postgres-example
[submodule "redis-example"]
	path = redis-example
	url = https://github.com/wedeploy-examples/redis-example
[submodule "rocketchat-example"]
	path = rocketchat-example
	url = https://github.com/wedeploy-examples/rocketchat-example
[submodule "ruby-example"]
	path = ruby-example
	url = https://github.com/wedeploy-examples/ruby-example
[submodule "spotify-example"]
	path = spotify-example
	url = https://github.com/wedeploy-examples/spotify-example
[submodule "supermarket-android-example"]
	path = supermarket-android-example
	url = https://github.com/wedeploy-examples/supermarket-android-example
[submodule "supermarket-ios-example"]
	path = supermarket-ios-example
	url = https://github.com/wedeploy-examples/supermarket-ios-example
[submodule "supermarket-react-native-example"]
	path = supermarket-react-native-example
	url = https://github.com/wedeploy-examples/supermarket-react-native-example
[submodule "supermarket-web-example"]
	path = supermarket-web-example
	url = https://github.com/wedeploy-examples/supermarket-web-example
[submodule "tomcat-example"]
	path = tomcat-example
	url = https://github.com/wedeploy-examples/tomcat-example
[submodule "user-roles-example"]
	path = user-roles-example
	url = https://github.com/wedeploy-examples/user-roles-example
[submodule "whatsapp-android-example"]
	path = whatsapp-android-example
	url = https://github.com/wedeploy-examples/whatsapp-android-example
[submodule "whatsapp-ios-example"]
	path = whatsapp-ios-example
	url = https://github.com/wedeploy-examples/whatsapp-ios-example
[submodule "whatsapp-web-example"]
	path = whatsapp-web-example
	url = https://github.com/wedeploy-examples/whatsapp-web-example
[submodule "wildfly-example"]
	path = wildfly-example
	url = https://github.com/wedeploy-examples/wildfly-example
[submodule "wordpress-example"]
	path = wordpress-example
	url = https://github.com/wedeploy-examples/wordpress-example
