[submodule "nuxtjs-example"]
	path = nuxtjs-example
	url = https://github.com/wedeploy-examples/nuxtjs-example
[submodule "rocketchat-example"]
	path = rocketchat-example
	url = https://github.com/wedeploy-examples/rocketchat-example
[submodule "nodejs-example"]
	path = nodejs-example
	url = https://github.com/wedeploy-examples/nodejs-example
[submodule "whatsapp-example"]
	path = whatsapp-example
	url = https://github.com/wedeploy-examples/whatsapp-example
[submodule "wordpress-example"]
	path = wordpress-example
	url = https://github.com/wedeploy-examples/wordpress-example
[submodule "liferay-dxp-example"]
	path = liferay-dxp-example
	url = https://github.com/wedeploy-examples/liferay-dxp-example
[submodule "supermarket-example"]
	path = supermarket-example
	url = https://github.com/wedeploy-examples/supermarket-example
[submodule "spotify-example"]
	path = spotify-example
	url = https://github.com/wedeploy-examples/spotify-example
[submodule "user-roles-example"]
	path = user-roles-example
	url = https://github.com/wedeploy-examples/user-roles-example
[submodule "mongodb-example"]
	path = mongodb-example
	url = https://github.com/wedeploy-examples/mongodb-example
[submodule "owncloud-example"]
	path = owncloud-example
	url = https://github.com/wedeploy-examples/owncloud-example
[submodule "ghost-example"]
	path = ghost-example
	url = https://github.com/wedeploy-examples/ghost-example
[submodule "jekyll-example"]
	path = jekyll-example
	url = https://github.com/wedeploy-examples/jekyll-example
[submodule "liferay-portal-example"]
	path = liferay-portal-example
	url = https://github.com/wedeploy-examples/liferay-portal-example
[submodule "file-upload-example"]
	path = file-upload-example
	url = https://github.com/wedeploy-examples/file-upload-example
[submodule "postgres-example"]
	path = postgres-example
	url = https://github.com/wedeploy-examples/postgres-example
[submodule "mysql-example"]
	path = mysql-example
	url = https://github.com/wedeploy-examples/mysql-example
[submodule "elasticsearch-example"]
	path = elasticsearch-example
	url = https://github.com/wedeploy-examples/elasticsearch-example
[submodule "mariadb-example"]
	path = mariadb-example
	url = https://github.com/wedeploy-examples/mariadb-example
[submodule "micro-example"]
	path = micro-example
	url = https://github.com/wedeploy-examples/micro-example
[submodule "redis-example"]
	path = redis-example
	url = https://github.com/wedeploy-examples/redis-example
[submodule "newsletter-example"]
	path = newsletter-example
	url = https://github.com/wedeploy-examples/newsletter-example
[submodule "apache-example"]
	path = apache-example
	url = https://github.com/wedeploy-examples/apache-example
[submodule "jenkins-example"]
	path = jenkins-example
	url = https://github.com/wedeploy-examples/jenkins-example
[submodule "piwik-example"]
	path = piwik-example
	url = https://github.com/wedeploy-examples/piwik-example
[submodule "tomcat-example"]
	path = tomcat-example
	url = https://github.com/wedeploy-examples/tomcat-example
[submodule "wildfly-example"]
	path = wildfly-example
	url = https://github.com/wedeploy-examples/wildfly-example
